<html>
<head>
	<meta charset="utf-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<h1>Lançar condominio do mês</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ formCondominio.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>

        <button type="submit" class="save btn btn-default">Cadastrar item do condominio</button>

    </body>
  </html>