<html>
	<script type="text/javascript">
	var x=4;
	function hello (name) {
		//variavaeis
		
		return "hello "+name+" "+x;
	}
	console.log(hello("rubens"));
	</script>

<head>
	<title>Array</title>

</head>

<body>
	<h1>Arrays in Js</h1>
	<script type="text/javascript">
		/*
		Visto no curso:
			-arrays
			-busca em arrays
			-declaração de variaveis e conversão de tipos
			-ForEach
			-condicionais(if,else,switch,while)
		*/
		var arr=new Array("red",10,20.4);
		var arr2=Array("Blue",12,30.3,arr);
		var arr3=["laranja",10,23.3,arr2,arr3];

		document.write("<p> Array1: "+arr[0]+"</p>");
		document.write("<h4>tamanho array1: "+arr.length+"</h4>");
		document.write("<h4>tamanho array2: "+arr2.length+"</h4>");
		document.write("<h4>tamanho array3: "+arr3.length+"</h4>");

		var list=arr.join(" - ");
		document.write("<h4>join: "+list+"</h4>");

		var ord=arr.sort();
		document.write("<h4>join: "+ord+"</h4>");
	</script>
</body>

</html>